* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #fff4e3;
    color: #000000; 
}

header {
    background-color: #a30923; 
    padding: 20px;  /*espaçamento ao redor do conteúdo*/
    text-align: center;  /*centraliza*/
    color: #fff4e3;
}
.header-content {
    display: flex;  /*layout flexível para organizar o logo e o título lado a lado*/
    align-items: center;  /*alinha verticalmente o logo e o título*/
    justify-content: center;  /*centraliza horizontalmente o conteúdo*/
}

/*define o tamanho da imagem*/
.logo {
    width: 80px;  /*largura da imagem*/
    margin-right: 20px;  /*espaço entre o logo e o título*/
}
h1 {
    font-size: 28px;  /*tamanho do título*/
    margin: 0;  /*remove margens externas*/
}
main {
    display: flex;
    justify-content: space-between;  /*espaço entre o conteúdo e a imagem*/
    padding: 40px;  /*espaçamento ao redor do conteúdo principal*/
}
.content {
    max-width: 700px;  /*limita a largura máxima do texto*/
}
.content h2 {
    font-size: 28px;
    color: #000000;
    margin: 50px;
    margin-left: 300px;
}
.content h3 {
    font-size: 28px; 
    color: #000000;
    margin: 50px;
    margin-left: 300px;
}
.content p {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 300px;
}
.image img { /*estilos para a seção de imagem*/
    width: 500px;
    border-radius: 10px; /*adiciona bordas arredondadas na imagem*/
    position: absolute;
    left: 1100px;
    top: 250px;
    
}
.right-content {
    flex: 0.5;
}

.right-content img {
    width: 100%;
    border-radius: 10px;
}
